@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Roboto", sans-serif;
}

.hero-heading {
    font-size: 60px;
    font-weight: bold;
}

header {
    background-color: #f1f1f1;
    min-height: 100vh;
}

.s-box {
    width: 120px;
    background-color: white;
    padding: 25px;
    border-radius: 25px;
    font-weight: bold;
    text-align: center;
}

.s-box-p {
    top: 80px;
    right: 45px;
}
.move{
    animation: move 2s ease infinite alternate;
}
@keyframes move {
    from{
        transform: translateY(0px);
    }
    to{
        transform: translateY(-20px);
    }
}
.s-icon {
    background-color: white;
    height: 60px;
    width: 60px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.si-1 {
    top: 100px;
    left: 20px;
}

.si-2 {
    top: 300px;
    left: 20px;
}

.si-3 {
    top: 200px;
    right: -50px;
}

.hr-small {
    border: 2px solid black;
    opacity: 100%;
    width: 50px;
    margin: 20px auto;
}

#Best-Sellers {
    padding: 100px 0px 100px;
}

.trending-img {
    height: 80px;
    width: 80px;
}

#trending {
    padding: 0px 0px 100px;
}
#Flash-Sale{ padding: 100px 0px;

}

.custom-hover {
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.custom-hover:hover {
    transform: translateY(-10px);
    box-shadow: 0 0px 8px 1px rgba(0, 0, 0, 0.175);
}

.gray{ background-color: #e9e7e7;}
.round-img{ height: 50px; width: 50px; border-radius: 100%;}
#Testimonial{padding: 100px 0px;}